run = "npm run dev"
entrypoint = "index.js"
modules = ["nodejs-20:v9-20231020-a3526c9"]
hidden = [".config", "package-lock.json", ".next", ".swc"]

[nix]
channel = "stable-23_05"

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Start Backend"

[[workflows.workflow]]
name = "Start Backend Only"
author = 46860078
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm install && npm run start:dev"

[[workflows.workflow]]
name = "Start Backend"
author = 46860078
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm install && npx prisma generate && npx prisma db push && npm run db:seed && npm run start:dev"

[[workflows.workflow]]
name = "Start Frontend"
author = 46860078
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm run dev"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 46860078
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm install && npx prisma generate && npx prisma db push && npm run db:seed && npm run start:dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm run dev"
